/* Base Styles */
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body,
button {
  font-family: 'Titillium Web', sans-serif;
}
body {
  background: #15151e;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

/******************************************
/* LAYOUT
/*******************************************/
header,
.race,
.card,
.front,
.score {
  display: flex;
  justify-content: center;
  align-items: center;
}
header {
  width: 100%;
  height: 10vh;
  background: #e7122c;
  border-bottom: 3px solid #fff;
}
.race {
  width: 95vw;
  justify-content: space-between;
  align-items: flex-end;
  flex-grow: 1;
}
.race svg {
  max-width: 100px;
  height: auto;
  padding: 10px 0 4px 0;
}
.score {
  justify-content: space-around;
  width: 100%;
  height: 10rem;
}
main {
  margin: 0 auto;
  width: 95vw;
  height: 95vw;
  display: flex;
  flex-wrap: wrap;
}
.card {
  width: 33.33%;
  height: 33.33%;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}
.front {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 1rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: #fff;
  border: 2px solid #15151e;
  border-radius: 0.5rem;
}
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  border-radius: 0.5rem;
  border: 1px solid #15151e;
}
.back1,
.back2,
.back3,
.back4,
.back5,
.back6,
.back7,
.back8,
.back9 {
  background: url(../img/mobile1.jpg), #15151e;
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 95vw auto;
}
.back2 {
  background-position: top center;
}
.back3 {
  background-position: top right;
}
.back4 {
  background-position: center left;
}
.back5 {
  background-position: center;
}
.back6 {
  background-position: center right;
}
.back7 {
  background-position: bottom left;
}
.back8 {
  background-position: bottom center;
}
.back9 {
  background-position: bottom right;
}

.free {
  flex-direction: column;
  justify-content: space-evenly;
}
footer {
  background: #15151e;
  flex-grow: 1;
  align-self: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}
footer svg {
  width: 40px;
  fill: #fff;
  padding: 10px 0;
}
footer button {
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: #e7122c;
  color: #fff;
}
@media all and (min-width: 550px) {
  .race {
    justify-content: center;
    gap: 35px;
  }
  .back1,
  .back2,
  .back3,
  .back4,
  .back5,
  .back6,
  .back7,
  .back8,
  .back9 {
    background: url(../img/desktop1.jpg), #15151e;
  }
  .back2 {
    background-position: top center;
  }
  .back3 {
    background-position: top right;
  }
  .back4 {
    background-position: center left;
  }
  .back5 {
    background-position: center;
  }
  .back6 {
    background-position: center right;
  }
  .back7 {
    background-position: bottom left;
  }
  .back8 {
    background-position: bottom center;
  }
  .back9 {
    background-position: bottom right;
  }
}

@media all and (min-width: 900px) {
  main,
  .race,
  footer {
    max-width: 850px;
  }
  main {
    max-height: 850px;
  }
  .back1,
  .back2,
  .back3,
  .back4,
  .back5,
  .back6,
  .back7,
  .back8,
  .back9 {
    background-size: 850px auto;
  }
}

/******************************************
/* Font Styles
/*******************************************/

h1 {
  font-size: 2.8rem;
  font-weight: 700;
  color: #fff;
}
h2 {
  font-size: 2.8rem;
  color: #fff;
}
h3 {
  font-size: 2.4rem;
  color: #fff;
}
.card,
button {
  font-size: 1.8rem;
  cursor: pointer;
  text-align: center;
}

@media all and (min-width: 900px) {
  h1 {
    font-size: 3.6rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2.8rem;
  }
  .card {
    font-size: 2.2rem;
  }
}
/******************************************
/* Card Actions
/*******************************************/

.flipped {
  transform: rotateY(180deg);
}
